<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <!--Stripe script for online payments-->
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    <h1>Checkout</h1>
    <form id="payment-form" method="POST">
        <div id="card-element"></div>
        <input type="text" id="name" placeholder="Full Name" >
        <input type="email" id="email" placeholder="Email"></input>
        <select id="payment-method" name="payment-method">
            <option value="card">Credit/Debit Card</option>
            <option value="applepay">Apple Pay</option>
        </select>
        <button id="submit-button" type="submit">Pay {{ total_price }}</button>
    </form>
    <div id="error-message" role="alert"></div>
    <script>
        var stripe = Stripe('pk_live_51Oc5hfL9lng4HNss1av8osECrGjm66dmyjSiIr6nK5OSx29GDtPnD7kwGNQJEivnkMKlp61PCyAIfcVco1LLDoMd00jA1JFK9k');
        var elements = stripe.elements();
        var card = elements.create('card');
        card.mount('#card-element');
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function(event){
            event.preventDefault();
            document.getElementById('submit-button').disabled = true;
            var name = document.getElementById('name').value;
            var email = document.getElementById('email').value;
            var paymentMethod = document.getElementById('payment-method').value;
            stripe.createPaymentMethod({
                type: paymentMethod,
                card: card,
                billing_details:{
                    name: name,
                    email: email,
                }
            }).then(function(result){
                if(result.error){
                    var errorElement = document.getElementById('error-message');
                    errorElement.textContent = result.error.message;
                    document.getElementById('submit-button').disabled = false;
                } else{
                    var form = document.getElementById('payment-form');
                    var hiddenInput = document.createElement('input');
                    hiddenInput.setAttribute('type', 'hidden');
                    hiddenInput.setAttribute('name', 'payment_method');
                    hiddenInput.setAttribute('value', result.paymentMethod.id);
                    form.appendChild(hiddenInput);
                    form.submit();
                }
            });
        });
    </script>
</body>
</html>