<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paterson Mexican Products</title>
</head>
<body>
    <h1>Welcome to the application</h1>
    <button onclick="window.location=`{% url 'logout_view' %}`">Logout</button>
    <button onclick="window.location=`{% url 'add_product' %}`">Add Product</button>
    <button onclick="window.location=`{% url 'product_list' %}`">View Products</button>
</body>
</html>